---
- hosts: all
  become: true
  tasks:
    #docker install
    - name: install docker
      apt:
        name:
          - docker
   
    #copy files
    - name: copy file
      copy:
        src: voteApp/
        dest: /home/test/

    #create imgs
    - name: build container image
      docker_image:
        name: result:v1.0
        build:
          path: /voteApp/result/Dockerfile
          source: build
          state: present
    - name: build container image
      docker_image:
        name: vote:v1.0
        build:
          path: /voteApp/vote/Dockerfile
          source: build
          state: present
    - name: build container image
      docker_image:
        name: worker:v1.0
        build:
        path: /voteApp/worker/Dockerfile
        source: build
        state: present
    